/data/output/Aves/*
!/data/output/Aves/.gitkeep
/data/output/Carnivora/*
!/data/output/Carnivora/.gitkeep
/data/output/Cetartiodactyla/*
!/data/output/Cetartiodactyla/.gitkeep
/data/output/Chiroptera/*
!/data/output/Chiroptera/.gitkeep
/data/output/Eulipotyphla/*
!/data/output/Eulipotyphla/.gitkeep
/data/output/Mammalia/*
!/data/output/Mammalia/.gitkeep
/data/output/Marsupialia/*
!/data/output/Marsupialia/.gitkeep
/data/output/Primates/*
!/data/output/Primates/.gitkeep
/data/output/Rodentia/*
!/data/output/Rodentia/.gitkeep
/data/Beck_KG_V1/*
!/data/Beck_KG_V1/.gitkeep
/data/MAMMALS/*
!/data/MAMMALS/.gitkeep
/data/Aves/*
!/data/Aves/.gitkeep
/data/tree/*
!/data/tree/.gitkeep
/_targets/

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
